@import '../../scss/global.scss';

.job-item {
    background-color: #fff;
    padding: 12px 16px;
    border-radius: 12px;
    box-shadow: 0 20px 25px -5px $color-shadow1, 0 8px 10px -6px $color-shadow1;
    
    &:hover {
        .job-item-title {
            color: #0a65cc;
        }
        cursor: pointer;
    }
    &-info {
        margin-bottom: 16px;
        .title {
            font-size: 14px;
        }
        .featured {
            font-size: 10px;
            color: #ff4f4f;
            display: inline-block;
            padding: 4px 8px;
            background-color: #ffeded;
            border-radius: 42px;
        }
        .location {
            color: #939aad;
            font-size: 12px;
        }
    }
    &-title {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 8px;
        transition: all 0.2s linear;
    }
    &-details {
        font-size: 12px;
        color: #636a80;
        span {
            display: inline-block;
            padding-right: 12px;
            position: relative;
            &:first-child::after {
                content: '';
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #636a80;
                position: absolute;
                right: 0;
                bottom: 0;
                transform: translateY(-80%);
            }
            &:last-child {
                padding-left: 10px;
            }
        }
    }
}

.company-logo {
    width: 40px;  /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    object-fit: cover;
    border-radius: 4px; /* Optional: add some border-radius for a rounded look */
}