// light color
$color--light: #ffffff;

// black color
$color--black: #000;

// background color
$color--black_6: rgba(
    $color: $color--black,
    $alpha: 0.06,
);

// text color

$color--text1: #111111;

$color--text2: #555555;

$color--text3: #dad6d6;

$color--text-mid: #d9dbe1;

$color--text-disabled: #868686;

$color--primary: #212460;
$color--secondary: #cd2c40;

// border color
$color--border: #e2e2e2;
$color--border2: #e7e7e9;
$color--line: #d9d9d9;

// warning color
$color--red: #ff5f73;
$bg-color--red: #f8cfd4;

// button color
$color-button--green: #9bebc4;
$color-button--green-hover: #29946f;
$color-button--green-disabled: #c8e8d8;

// status color
$color-status--configuring: #eeeeee;
$color-status--deploying: #f47142;
$color-status--warning: #fdd6c8;
$color-status--deployed: #34ab71;

// modal color
$color-modal--header-bg: #2c2c2c;

// button
$color-button--primary: #1890ff;
$color-button--primary-hover: #2a2e7b;

// register - login - forgot
$register-bgr: rgba(232, 232, 232, 0.764);
$title-color: #274c77;
$btn-register-color: #624bff;

//homepage
$color-homepage-bg: #f5f5f5;
$color-homepage-intro: #615e5e;
$color-homepage-title: #0a142f;
$color-shadow1: rgb(0 0 0 / 0.1);
$color-search-bg: #f9f9f9;
$color-placeholder-input: #525252;
$color-gray-68: #686868;
$color-light-fb: #fbfbfb;
$color-slider-bg: rgba(255, 255, 255, 0.348);
$color-date: #808080;
$color-yellow: #fadb14;

$color-changeAvt-bg: rgba(250, 250, 250, 0.458);

//admin
$color-admin-menu-bg: #212b36;
$color-admin-menu-text: #a2afba;
$color-gradient-1: #a7bfe8;
$color-gradient-2: #6190e8;
