@import '../../scss/global.scss';

.header {
    background-color: #f1f2f4;
    &-top {
        width: 1280px;
        padding: 12px 0;
        margin: 0 auto;
        font-family: $font-inter;
        a {
            color: #5e6670;
            font-weight: 500;
            &:hover {
                color: #0a65cc;
            }
        }
    }
    &-bottom {
        font-family: $font-inter;
        width: 1280px;
        padding: 12px 0;
        margin: 0 auto;
        .search-wrapper {
            border: 1px solid #e4e5e8;
            border-radius: 7px;
            .ant-input {
                padding: 6px;
                font-size: 14px;
                width: 400px;
                font-weight: 500;
                color: $color-date;
            }
            .ant-input-affix-wrapper {
                border: none;
            }
        }
        .flag-wrapper {
            padding: 4px 12px;
            border-right: 1px solid #e4e5e8;
        }
    }
}
