@import '../../scss/global.scss';

.reset {
    &--logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    &--intro {
        display: inline-block;
        margin-bottom: 20px;
    }
    &--content {
        text-align: center;
        width: 30%;
        margin: 80px auto 0;
    }
    .ant-input,
    .ant-input-password {
        padding: 6px 11px;
        font-size: 14px;
        color: $color-date;
        font-weight: 500;
    }
    .ant-form-item {
        margin-bottom: 16px;
    }
    .ant-btn {
        width: 100%;
        height: 42px;
        font-size: 16px;
    }
}
